<link rel="stylesheet" href="/css/footer.css">

<footer>
    <% if(locals.user){%>
        <h3>Gynx Music Studio <br>
            <center>
                <p style="font-size: 1.2rem;">2023</p>
            </center>
        </h3>
        <ul class="footerUl">
            <li><a href="/users/profile" style="text-decoration: none;font-weight: 700;">Home</a></li>
            <li><a href="/users/profile" style="text-decoration: none;font-weight: 700;">Profile</a></li>
            <li><a href="/users/favorite/favPage" style="text-decoration: none; font-weight: 700;">Favorites</a></li>
        </ul>
        <%}%>
</footer>