<link rel="stylesheet" href="/css/welcome.css">
<div id="container">
    <div id="left">
        <p>Hi There!! <br> Already, Have an account??</p> <br>
        <a href="users/sign-in">
            <button type="submit">
                Login
            </button>
        </a>
    </div>
    <div id="center">
        <h2>Welcome</h2>
        <h4>to</h4>
        <h1>Gynx <br> Music Player</h1>
    </div>
    <div id="right">
        <p>New here, <br> Please Sign Up</p><br>
        <a href="users/sign-up">
            <button type="submit">
                Sign Up
            </button>
        </a>
    </div>
</div>